
<div id="outerContainer">
  <div class="pdf-container">
    <pdf-viewer
      [src]="pdfSrc"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="true"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="true"
      (after-load-complete)="loadComplete()"
      (error)="loadComplete()"
      style="width: 100%; "
    ></pdf-viewer>
  </div>
</div>
