<div
  [ngClass]="bg_img"
  class="relative h-full  my-4  bg-cover bg-center flex flex-col px-8 overflow-hidden">


  <div class="z-0 absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-r from-primary  to-transparent ..."></div>

  <div class="absolute top-1/2 left-0">
    <div class="arrow animate-r bounce_right">
      <i class="fa-solid fa-chevron-left text-white text-5xl"></i>
    </div>
  </div>

  <div class="absolute top-1/2 right-0">
    <div class="arrow animate-l bounce_left">
      <i class="fa-solid fa-chevron-right text-white text-5xl"></i>
    </div>
  </div>

  <div class=" relative z-10 w-full mt-24 mb-16 ">
    <img [src]="'assets/'+img_title" alt="">
  </div>
  <div *ngIf="info" class=" relative z-10 h-full w-full bg-secondary mb-20 mt-10 rounded overflow-scroll text-justify p-4 text-white">
    <div (click)="back()" class="absolute left-1-0 top-1 w-8 h-8 rounded-full border-2 border-white flex items-center justify-center">
      <i class="fa-regular fa-xmark text-white text-xl"></i>
    </div>
    <div class="font-bold text-center">Perfil de ingreso</div>
    <br>
    El aspirante a cursar la licenciatura en Contaduría Pública deberá ser una persona preocupada por las problemáticas financieras que acontecen dentro de las instituciones públicas y
    privadas a nivel nacional e internacional. Tendrá conocimientos básicos de economía, estadística y matemáticas. Deberá ser una persona analítica, reflexiva, crítica y comprometida con el
    trabajo por resultados. Contará como convicción ser una persona justa, honesta, responsable e innovadora.
    <br>
    <br>
    <div class="font-bold text-center">Perfil de egreso</div>

    <br>
    Al finalizar los egresados de la Licenciatura en CONTADURÍA PÚBLICA tendrán las competencias (conocimientos, habilidades, destrezas y actitudes) para difundir la cultura de la Contaduría
    Pública, aplicado a los diferentes tipos de organizaciones, en respuesta a las exigencias del incierto y cambiante entorno regional, municipal, estatal, nacional e internacional;
    preparados para gestionar toma de decisiones acertadas y legales, proyectar y desarrollar planes estratégicos integrales, diagnósticos organizacionales y principios de gestión que
    garanticen el0p funcionamiento operativo eficiente de las organizaciones, manteniéndose activas y actualizadas bajo los nuevos esquemas de la Contaduría.
    <br>
    <br>
    <div class="font-bold text-center">Habilidades</div>
    <br>
    Expresión Oral y Escrita
    Segunda Lengua
    Aplicación de estrategias basadas en las TICs.
    Solución de problemas en el ámbito de la administración.
    Comunicación y empatía para el desarrollo óptimo de su labor en la atención y cuidado de las personas en ambientes privados, públicos, regionales, nacionales e internacionales.
    Evaluación del estado legal de los individuos y empresas.
    Investigación y uso adecuado de la tecnología en el área de la Administración Pública.
    Manejo de conceptos y métodos referentes al ámbito de la contaduría pública, la administración, la economía, la contabilidad y el derecho.
    Evaluación de procesos de la contaduría, las finanzas, la administración y gestión de áreas empresariales.
    Adaptarse a nuevas maneras de pensar, comportarse e interactuar.

  </div>
  <div *ngIf="study_plan" class="relative z-10 h-full w-full bg-red-logo  mb-20 mt-10 rounded overflow-scroll text-justify p-4 text-white">
    <div (click)="back()" class="absolute left-1-0 top-1 w-8 h-8 rounded-full border-2 border-white flex items-center justify-center">
      <i class="fa-regular fa-xmark text-white text-xl"></i>
    </div>

    <div class="font-bold text-xl text-center">Plan de Estudios</div>

    <div class="flex-col mt-2">
      <div class="font-bold  text-center">Áreas</div>
      <div class="">Básica</div>
      <div class="">Formativa</div>
      <div class="">Especializada/Práctica</div>
      <div class="">Complementarias</div>
    </div>
    <div class="flex-col mt-2">
      <div class="font-bold  text-center">Área Básica</div>
      <div class=""> Contabilidad I, II y III</div>
      <div class=""> Derecho Fiscal</div>
      <div class=""> Proceso Administrativo I y II</div>
      <div class=""> Matemáticas Aplicadas a los Negocios</div>
      <div class=""> Matemáticas Financieras</div>
      <div class=""> Introducción al Estudio del Derecho</div>
      <div class=""> Derecho Constitucional y Administrativo</div>
      <div class=""> Derecho Mercantil</div>
      <div class=""> Derecho del Trabajo</div>
      <div class=""> Macroeconomía</div>
      <div class=""> Tecnologías de Información en las Organizaciones I y II</div>
      <div class=""> Metodología de la Investigación</div>
      <div class=""> Introducción a la Economía</div>
      <div class=""> Problemas Económicos de México</div>
      <div class=""> Microeconomía</div>
      <div class=""> Economía internacional</div>
    </div>

    <div class="flex-col mt-2">
      <div class="font-bold  text-center">Área Formativas</div>
      <div class="">Contabilidad Superior</div>
      <div class="">Control Interno</div>
      <div class="">Contabilidad Internacional</div>
      <div class="">Planeación Estratégica</div>
      <div class="">Estructuras Organizacionales</div>
      <div class="">Organización Contable</div>
      <div class="">Estadística Aplicada a los Negocios</div>
      <div class="">Estadística Inferencial</div>
      <div class="">Contabilidad de Sociedades</div>
      <div class="">Mercado de Valores</div>
      <div class="">Auditoria Administrativa</div>
      <div class="">Finanzas I, II y III</div>
      <div class="">Ética Profesional</div>
      <div class="">Software Contable y Administrativo I</div>
      <div class="">Presupuestos</div>
    </div>


    <div class="flex-col mt-2">
      <div class="font-bold  text-center">Área Especializada/Práctica</div>
      <div class="">Defensa Fiscal</div>
      <div class="">Contabilidades Especiales</div>
      <div class="">Análisis de Estados Financieros</div>
      <div class="">Reexpresión de Estados Financieros</div>
      <div class="">Impuestos I, II y III</div>
      <div class="">Costos I, II y III</div>
      <div class="">Seguridad Social I y II</div>
      <div class="">Seminario de Tesis</div>
    </div>


    <div class="flex-col mt-2">
      <div class="font-bold  text-center">Área Complementaria</div>
      <div class="">Comunicación Oral y Escrita</div>
      <div class="">Comunicación Administrativa Oral y Escrita</div>
      <div class="">Inglés I, II y III</div>
      <div class="">Relaciones Públicas</div>
      <div class="">Recursos Humanos I y II</div>
    </div>


  </div>
  <div class="" *ngIf="btns">
    <div class=" relative z-10 w-full">
      <button (click)="see_info()" class=" bg-white p-3 px-8 block rounded-full text-primary font-bold">Leer mas...</button>
    </div>
    <div class=" relative z-10 w-full mt-8">
      <button (click)="see_study_plan()" class="bg-red-logo p-3 px-8 block rounded-full text-white font-bold">Plan de Estudios</button>
    </div>
  </div>

  <!--
   <div class="absolute bottom-0 left-0 right-0 w-full flex space-x-4 justify-center py-10">
    <div class="w-4 h-4 rounded-full bg-white"></div>
    <div class="w-4 h-4 rounded-full border border-white"></div>
    <div class="w-4 h-4 rounded-full border border-white"></div>
  </div>
  -->
</div>
