<li>
  <button
    (click)="open(false,item.path)"
    type="button"
    class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
    <i class="fa-light text-xl {{item.icon}}"></i>
    <span class="flex-1 ml-3 text-left whitespace-nowrap">{{item.name}}</span>
    <ng-container *ngIf="item.subMenu">

      <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
      </svg>
    </ng-container>
  </button>
  <ng-container *ngIf="item.subMenu?.length">

    <ul id="dropdown-pages" class=" py-2 space-y-2" [class.hidden]="!openSubMenu">
      <li *ngFor="let subItem of item.subMenu">
        <a (click)="open(true,subItem?.path)"
           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{subItem.name}}</a>
      </li>
    </ul>
  </ng-container>
</li>

