#myVideo {

  min-width: 100%;
  min-height: 100%;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.title-filosofia-cards {

@layer {
  @apply text-2xl text-left pb-2  font-bold tracking-[.5rem];
}

}

