<aside [class.translate-x-0]="navOpen"
       class="fixed top-0 left-0 z-40 w-full h-full transition-transform -translate-x-full  pr-[25%] ">
  <div class="h-full overflow-hidden bg-primary md:max-w-md">
    <ul class="flex space-y-10 flex-col justify-center h-full text-left px-10">
      <li (click)="scroll(inicio)" class="text-xl font-light text-white">Inicio</li>
      <li (click)="scroll(nosotros)" class="text-xl font-light text-white">¿Quiénes somos?</li>
      <li (click)="scroll(filosofia)" class="text-xl font-light text-white">Filosofía</li>
      <li (click)="scroll(oferta)" class="text-xl font-light text-white ">Oferta Educativa</li>
      <li (click)="scroll(servicios)" class="text-xl font-light text-white">Servicios</li>
      <li (click)="scroll(gallery)" class="text-xl font-light text-white">Galeria</li>
      <!-- <li (click)="scroll(inicio)" class="text-xl font-light text-white">Calendario</li> -->
      <li (click)="scroll(contacto)" class="text-xl font-light text-white">Contacto</li>
      <a href="/login" class="text-xl font-light text-white">Ingresar</a>
    </ul>
  </div>
</aside>

<div class="h-full ">


  <!-- HOME -->
  <!--
  <section class="relative full-screen overflow-hidden sm:hidden">
    <div class=" absolute top-0 right-0 left-0 bottom-0 w-full h-full z-0 flex justify-center items-center">
      <div class="video_logo w-32 animate-bounce">
        <img src="assets/LOGO.svg" alt="">

      </div>
    </div>
    <video class="relative object-cover  z-10" autoplay muted loop playsinline id="myVideo" [defaultMuted]="true">
      <source src="assets/video/home_vertical_vid.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <div class=" absolute top-0 right-0 left-0 bottom-0 w-full h-full bg-black bg-opacity-5 z-20"></div>

    <div class="absolute right-0 left-0 bottom-10 w-full z-30">

      <div class="flex space-x-4 justify-center ">
        <a href="https://www.facebook.com/cisophiegermain?mibextid=ZbWKwL"
           class="flex justify-center items-center p-2 w-12 h-12 bg-primary rounded-full text-white text-2xl"><i
          class="fa-brands fa-facebook-f"></i></a>
        <a href="https://instagram.com/ci.sophiegermain?igshid=YmMyMTA2M2Y="
           class="flex justify-center items-center p-2 w-12 h-12 bg-primary rounded-full text-white text-2xl"><i
          class="fa-brands fa-instagram"></i></a>
      </div>

    </div>
  </section>
  -->
  <section class="relative full-screen overflow-hidden  bg-portada-mobile md:bg-portada bg-cover  bg-center flex items-start max-md:pt-32 md:items-center ">
    <div class="z-0 absolute top-0 left-0 right-0 bottom-0 bg-black opacity-20 w-full md:hidden"></div>

    <div class="flex items-center h-full px-10 relative z-10 max-w-md:max-w-xs   max-w-md:mx-auto">
      <div class="icon" >
        <img src="assets/LOGO.svg" alt="">
      </div>
    </div>


    <div class="absolute right-0 left-0 bottom-10 w-full z-30">

      <div class="flex space-x-4 justify-center ">
        <a href="https://www.facebook.com/cisophiegermain?mibextid=ZbWKwL"
           class="flex justify-center items-center p-2 w-12 h-12 md:w-22 md:h-22 bg-primary rounded-full text-white text-3xl"><i
          class="fa-brands fa-facebook-f"></i></a>
        <a href="https://instagram.com/ci.sophiegermain?igshid=YmMyMTA2M2Y="
           class="flex justify-center items-center p-2 w-12 h-12 bg-primary rounded-full text-white text-2xl"><i
          class="fa-brands fa-instagram"></i></a>


      </div>

    </div>
  </section>

  <!-- HOME -->
  <!-- INICIO -->

  <section class="relative min-h-full overflow-hidden bg-primary pb-20  pt-16 lg:pt-20 space-y-2 lg:space-y-4" #inicio>

    <div class="overflow-hidden max-h-96">
      <img ngxParallaxScroll
           [parallaxSpeed]='0.06'
           [parallaxSmoothness]='.1'
           [parallaxDirection]='"reverse"'
           [parallaxTimingFunction]='"linear"'
           [parallaxThrottleTime]="20"
           class="jarallax-img object-cover bg-center hidden md:block " src="assets/portada-12.png" alt="">
      <img class="jarallax-img object-cover bg-center md:hidden block " src="assets/portada-1.png" alt="">
    </div>

    <div

      ngxParallaxScroll
      [parallaxSpeed]='0.06'
      [parallaxSmoothness]='.1'
      [parallaxDirection]='"straight"'
      [parallaxTimingFunction]='"linear"'
      [parallaxThrottleTime]="20"
      class="px-10 text-justify font-light text-base xl:text-lg text-white flex flex-col gap-6 lg:items-center">

      <p data-aos="fade-up" data-aos-duration="3000"
        class="lg:max-w-[50%]">En Centro Integral Sophie Germain S.C., tenemos experiencia de más de 15 años (desde 2008), ofrecemos servicios educativos de nivel Bachillerato, Superior y Posgrados,
        en la región centro del Estado de Puebla. <br> <br> Nos manifestamos como una organización integrada y formada por profesionistas y empresarias poblanas, dispuestas y comprometidas a realizar
        su
        aportación a la sociedad con gran sentido ético, corresponsabilidad social, así como visión de transformar seres humanos a través de una educación de calidad.</p>

      <p  data-aos="fade-up" data-aos-duration="3000" class="lg:max-w-[50%] mb-10">
        Ejercemos con plena libertad el derecho que nos corresponde en la historia del
        pensamiento de México y estamos dispuestos a asumir un liderazgo intelectual y moral con todas las consecuencias que implica por el bien de la comunidad educativa del Centro Integral Sophie
        Germain S.C
      </p>
    </div>

  </section>
  <!-- QUIENES SOMOS -->
  <section class="relative  bg-white md:flex md:flex-row-reverse md:items-center" id="js-target" #nosotros>

    <div class="bg-white md:h-full md:w-3/5 ">
      <img  data-aos="fade-left" data-aos-duration="3000" class="object-fill min-h-full md:ml-auto" src="assets/p-2.png" alt="">
    </div>

    <div class="h- md:h-full md:w-2/5 md:flex md:flex-col md:items-center md:justify-center overflow-hidden">

      <div data-aos="fade-right" data-aos-duration="3000" class="text-primary pt-4 text-5xl md:text-5xl xl:text-7xl font-bold text-center font-geometry ">
        ¿Quiénes somos?
      </div>

      <div data-aos="fade-right" data-aos-duration="2500" class="text-justify py-2 md:py-6 px-8 lg:px-12 text-sm lg:text-base text-primary space-y-4">
        <p>
          Centro Integral Sophie Germain S.C., es un centro educativo que nace bajo la necesidad de tener una
          institución
          de
          nivel medio superior en la región de Puebla, por tanto, en el año de 2008 se
          fundó con el aval de la SEP-Puebla.
        </p>
        <p>
          Por otra parte, a partir del 2023 estamos sumándonos al papel de la Educación Superior y posgrados, que es
          formar
          a los mexicanos que enlacen de manera inteligente y exitosa a nuestro país con
          el resto del mundo en todos los aspectos de su complejidad y propicien el desarrollo nacional en todas sus
          vertientes.
        </p>
      </div>
    </div>

  </section>
  <!-- FILOSOFIA -->
  <section class="relative full-screen bg-white flex flex-col justify-center md:flex-row" #filosofia>

    <div class="lg:max-w-2xl lg:m-auto  px-8  ">
      <div class="py-8 space-y-4 md:w-1/2 md:flex md:flex-col md:items-center md:justify-center lg:max-w-3xl "></div>
      <h2 data-aos="fade-up" data-aos-duration="3000" class="text-primary text-6xl md:text-6xl xl:text-8xl font-bold font-geometry">
        Filosofía
      </h2>


      <p  data-aos="fade-right" data-aos-duration="3000" class="text-justify py-2 md:py-6 text-sm lg:text-base text-primary space-y-4">
        Para esta “Generación del Conocimiento”, como es reconocida en el medio pedagógico, a los alumnos que formarán
        parte de las futuras generaciones de mexicanos, consideramos como nuestros
        principios básicos al “Aprender a Ser”, el “Aprender a Conocer”, el “Aprender a Hacer” y el “Aprender a vivir
        juntos”, conocidos como los cuatro pilares de la educación
      </p>
    </div>


    <div class="flex py-10 md:py-0 items-center w-full md:w-1/2   md:flex md:items-center">
      <div data-aos="zoom-out-down" data-aos-duration="3000"  class="bg-primary w-full rounded-2xl overflow-hidden lg:max-w-2xl lg:m-auto  md:pb-8">

        <swiper
          [navigation]="true"
          class="h-[95%] cursor-move" [slidesPerView]="1" [spaceBetween]="10" [centeredSlides]="true">

          <ng-template swiperSlide class="rounded-lg  ">
            <div class="rounded-xl bg-primary text-white  pt-6 px-8">
              <div class="title-filosofia-cards">MISIÓN</div>
              <div class="text-justify">Somos una institución educativa de nivel superior organizada para contribuir al desarrollo integral de las personas, graduando a estudiantes en nivel medio
                superior, y a profesionistas en el nivel superior y posgrados brindando un servicio de alta calidad a bajo costo.
              </div>
            </div>

          </ng-template>
          <ng-template swiperSlide class="rounded-lg ">
            <div class="rounded-xl bg-primary text-white  pt-6 px-8">
              <div class="title-filosofia-cards">VISIÓN</div>
              <div class="text-justify">Consolidar a nuestra institución educativa como una organización dedicada a la formación académica de profesionistas con un alto nivel competitivo. <br> <br>
                Facilitando el acceso a la formación académica debidamente estructurada, con asesorías personalizadas y horarios flexibles.<br> <br> Buscamos que los alumnos encuentren apoyo en el
                transcurso del aprendizaje y que en este proceso creen sentido de servicio a la sociedad.
              </div>
            </div>
          </ng-template>
          <ng-template swiperSlide class="rounded-lg ">
            <div class="rounded-xl bg-primary text-white  pt-6 px-8">
              <div class="title-filosofia-cards">VALORES</div>
              <div class="text-justify">
                El Centro Integral Sophie Germain S.C. promueve valores (cualidad o conjunto de cualidades de una persona, por cuya virtud es apreciada), siendo éstos:
                <div class="py-2"></div>
                <accordion [collapsing]="collapsing">
                  <accordion-item title="Profesionalismo">
                    <ng-template accordionContent>
                      <div class="p-4">
                        Asumida como la capacidad de responder ante los retos constantes del mercado laboral.
                      </div>
                    </ng-template>
                  </accordion-item>
                  <accordion-item title="Responsabilidad">
                    <ng-template accordionContent>
                      <div class="p-4">
                        Entendida como el reconocimiento y la capacidad de asumir consecuencias en la
                        resolución de problemas.
                      </div>
                    </ng-template>
                  </accordion-item>

                  <accordion-item title="Vocación">
                    <ng-template accordionContent>
                      <div class="p-4">
                        Capacidad de identificar mis talentos y competencias para ponerlas al servicio de la sociedad y de mi profesión.
                      </div>
                    </ng-template>
                  </accordion-item>
                  <accordion-item title="Tolerancia">
                    <ng-template accordionContent>
                      <div class="p-4">
                        Asumir con respeto las creencias, ideas y prácticas del otro.
                      </div>
                    </ng-template>
                  </accordion-item>
                  <accordion-item title="No discriminación">
                    <ng-template accordionContent>
                      <div class="p-4">
                        La garantía de igualdad entre seres humanos.
                      </div>
                    </ng-template>
                  </accordion-item>

                </accordion>


              </div>
            </div>
          </ng-template>
          <ng-template swiperSlide class="rounded-lg ">
            <div class="rounded-xl bg-primary text-white  pt-6 px-8">
              <div class="title-filosofia-cards">POLÍwqTICA DE CALIDAD</div>
              <div class="text-justify">
                Trabajamos con procesos soportados por personal directivo, docente y administrativo ampliamente
                calificados, comprometidos con la calidad y cultura de legalidad para lograr la
                satisfacción de usuarios mediante la mejora continua de los servicios.
              </div>
            </div>
          </ng-template>

        </swiper>
      </div>

      <!-- <div class="absolute top-1/2 left-0">
        <div class="arrow animate-r bounce_right">
          <i class="fa-solid fa-chevron-left text-primary text-5xl"></i>
        </div>
      </div>

      <div class="absolute top-1/2 right-0">
        <div class="arrow animate-l bounce_left">
          <i class="fa-solid fa-chevron-right text-primary text-5xl"></i>
        </div>
      </div> -->


    </div>

  </section>
  <!-- OFERTA  -->
  <section class=" oferta h" #oferta>
    <swiper [slidesPerView]="1" [navigation]="true" class=""  [loop]=" true " [autoplay]="true">
      <ng-template swiperSlide>
        <ea-oferta-conta></ea-oferta-conta>
      </ng-template>
      <ng-template swiperSlide>

        <ea-oferta-edu ></ea-oferta-edu>
      </ng-template>
      <ng-template swiperSlide>
        <ea-oferta-pos></ea-oferta-pos>
      </ng-template>


    </swiper>

  </section>
  <!-- Servicios  -->
  <section #servicios class="relative  pt-10">
    <div class=" font-geometry text-5xl text-primary text-center">Servicios</div>

    <div class="md:max-w-4xl  lg:max-w-xl md:m-auto">

      <swiper [slidesPerView]="1" [spaceBetween]="20" [navigation]="true"
              class=" carousel aspect-w-16 aspect-h-9 relative ">
        <ng-template swiperSlide>
          <div class="mx-6">
            <div class="flex w-full justify-between py-8 capitalize">
              <div class="flex flex-col w-22 items-center">
                <div class=" bg-red-logo text-white w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  1
                </div>
                <div class="text-primary text-sm">Estudiantiles</div>
              </div>

              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  2
                </div>
                <div class="text-secondary text-sm">Académicos</div>
              </div>
              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  3
                </div>
                <div class="text-secondary text-sm">Vinculación</div>
              </div>
              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  4
                </div>
                <div class="text-secondary text-sm">Becas</div>
              </div>

            </div>

            <div class="bg-primary rounded-xl ">

              <div class="py-10 px-4 text-white text-justify text-sm">
                Psicología: <br>
                Contamos con un área de psicología para proporcionar la atención necesaria a alumnos que lo requieran,
                fomentando así la salud mental dentro de nuestra institución.
                <br>
                <br>
                Trabajo Social: <br>
                En el área de Trabajo Social se proporciona atención directa a nuestra comunidad para prevenir conflictos
                tanto individuales como colectivos, así como la colaboración en distintas
                actividades en pro de los estudiantes.
                <br>
                <br>
                Tutoría: <br>
                Nos encargamos de asignar tutores para nuestra comunidad estudiantil que permitan tener un acompañamiento
                individualizado durante toda la carrera universitaria de nuestros alumnos.

              </div>

            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="mx-6">
            <div class="flex w-full justify-between py-8 capitalize">
              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  1
                </div>
                <div class="text-primary text-sm">Estudiantiles</div>
              </div>

              <div class="flex flex-col w-22 items-center">
                <div
                  class=" bg-red-logo text-white w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  2
                </div>
                <div class="text-secondary text-sm">Académicos</div>
              </div>
              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  3
                </div>
                <div class="text-secondary text-sm">Vinculación</div>
              </div>
              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  4
                </div>
                <div class="text-secondary text-sm">Becas</div>
              </div>

            </div>

            <div class="bg-primary rounded-xl ">

              <div class="py-10 px-4 text-white text-justify text-sm">
                Calificaciones en línea: <br>
                Nuestro servicio administrativo de alta calidad hace posible que los estudiantes puedan revisar sus
                calificaciones a través de nuestra plataforma virtual.
                <br>
                <br>
                Estados Financieros: <br>
                Cada uno de los alumnos puede revisar todo lo referente a sus pagos dentro de su cuenta personalizada en
                nuestra plataforma virtual.
                <br>
                <br>
                Biblioteca: <br>
                Contamos con una biblioteca presencial dentro de nuestras instalaciones, y una biblioteca virtual dentro de nuestra plataforma en donde cada alumno puede leer, trabajar y/o descargar
                todos los libros que le sean de utilidad.
              </div>

            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="mx-6">
            <div class="flex w-full justify-between py-8 capitalize">
              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  1
                </div>
                <div class="text-secondary text-sm">Estudiantiles</div>
              </div>

              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  2
                </div>
                <div class="text-secondary text-sm">Académicos</div>
              </div>
              <div class="flex flex-col w-22 items-center">
                <div class=" bg-red-logo text-white w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  3
                </div>
                <div class="text-primary text-sm">Vinculación</div>
              </div>
              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  4
                </div>
                <div class="text-secondary text-sm">Becas</div>
              </div>

            </div>

            <div class="bg-primary rounded-xl ">

              <div class="py-10 px-4 text-white text-justify text-sm">
                El proceso de vinculación será un área de especial interés que permitirá, además de diversos escenarios
                para las residencias profesionales de nuestros estudiantes, la generación de
                proyectos de inversión, la creación de empresas y una estrecha colaboración con el sector productivo en
                ámbitos tales como la consultoría empresarial, la capacitación para y en el
                trabajo, el desarrollo de proyectos de innovación y prototipos orientados al soporte tecnológico de la
                industria. En una palabra, que la educación en nuestra Universidad sea pertinente,
                creando convenios que permitan al alumnado realizar su Servicio Social y sus Prácticas profesionales de
                manera eficiente.
              </div>

            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="mx-6">
            <div class="flex w-full justify-between py-8 capitalize">
              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  1
                </div>
                <div class="text-secondary text-sm">Estudiantiles</div>
              </div>

              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  2
                </div>
                <div class="text-secondary text-sm">Académicos</div>
              </div>
              <div class="flex flex-col w-22 items-center">
                <div
                  class="border-primary bg-white text-primary w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  3
                </div>
                <div class="text-secondary text-sm">Vinculación</div>
              </div>
              <div class="flex flex-col w-22 items-center">
                <div class=" bg-red-logo text-white w-6 h-6 border rounded-full flex items-center justify-center text-xs">
                  4
                </div>
                <div class="text-primary text-sm">Becas</div>
              </div>
            </div>

            <div class="bg-primary rounded-xl ">

              <div class="py-10 px-4 text-white text-justify text-sm">
                Requisitos: <br>
                <span>&#x25cf;</span> Llenar formato de beca vigente y pegar fotografía reciente tamaño infantil en el mismo.<br>
                <span>&#x25cf;</span> Pagar la inscripción antes de entregar la documentación correspondiente. <br>
                <span>&#x25cf;</span> Para licenciatura, copia de certificado del bachillerato, en caso de no tenerlo, presentar una constancia de estudios con calificaciones de los seis semestres
                del bachillerato con validez oficial, es decir, en hoja membretada y con el sello de la escuela de procedencia. <br>
                <span>&#x25cf;</span> Para posgrado, copia del certificado de licenciatura. <br>
                <span>&#x25cf;</span> Promedio mínimo general del bachillerato para licenciatura o la licenciatura para posgrado, de ocho punto cinco (8.5). <br>
                <span>&#x25cf;</span> Constancia reciente de ingresos (la cual será́ máximo de un mes anterior a la entrega de la solicitud). <br>
                <span>&#x25cf;</span> Comprobante de domicilio actual (del mes en que se entrega la solicitud o el inmediato anterior). <br>
                <span>&#x25cf;</span> Copia de la Clave Única de Registro de Población (CURP). <br>
                <span>&#x25cf;</span> Presentar la solicitud de beca en los términos y plazos establecidos en la convocatoria emitida por la universidad y anexar la documentación comprobatoria que se
                señale en la misma.

              </div>

            </div>
          </div>
        </ng-template>


      </swiper>
    </div>


  </section>

  <!-- Galeria -->

  <section class="py-10" #gallery>
    <div class=" font-geometry text-5xl text-primary text-center">Galeria</div>
    <gallery [items]="images" [autoPlay]="true"></gallery>
  </section>


  <!-- Contactanos -->
  <section class="h-full relative bg-img-contact bg-cover bg-center flex flex-col items-center justify-center overflow-hidden"
           #contacto>

    <div class="flex-1 flex flex-col justify-center relative z-10">
      <div class="font-geometry text-2xl z-10 text-white pb-10"> ¡Qué esperas para contactarnos!</div>
      <a class="text-white text-2xl flex items-center" href="https://wa.me/2223902994" target="_blank"><img src="assets/whats.svg" alt=""> Chatea con nosotros</a>
    </div>

    <div class="z-0 absolute top-0 left-0 right-0 bottom-0 bg-primary opacity-40 w-full"></div>
    <div class="z-10 w-full  ">

      <svg class="w-full  -mb-24" height="287" viewBox="0 0 750 287" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1618.83 248.629L1620.1 0.989258C1256.34 178.189 821.8 61.6992 513.09 31.7292C146.55 -3.85075 41.8299 143.199 -449.57 119.489C-614.36 111.539 -729.39 86.5392 -809.59 56.8192V248.629C-809.59 266.389 -786.67 280.929 -758.66 280.929H1567.9C1595.91 280.929 1618.83 266.389 1618.83 248.629Z"
          fill="#93C8FD"/>
        <path
          d="M-809.6 272.349V25.9795C-445.84 203.179 -12.5601 85.4195 296.15 55.4595C662.69 19.8795 767.41 166.929 1258.81 143.219C1423.6 135.269 1539.9 109 1620.09 79.2896L1618.82 272.37C1618.82 290.13 1595.9 304.67 1567.89 304.67H-758.66C-786.67 304.67 -809.59 290.13 -809.59 272.37L-809.6 272.349Z"
          fill="#FF0000"/>
        <path
          d="M1620.09 309.099V59.5293C1256.33 236.729 821.79 120.239 513.08 90.2693C146.54 54.6893 41.8199 201.739 -449.58 178.029C-614.36 170.079 -729.4 145.079 -809.59 115.359V309.099C-809.59 309.099 1620.1 308.489 1620.1 309.099H1620.09Z"
          fill="white"/>
      </svg>

      <div class="w-full z-30 bg-white flex flex-col space-y-2 items-center ">
        <div class="max-w-sm m-auto flex flex-col pb-10">
          <a href="tel:2228593924">Tel: 222 859 39 24</a>
          <a href="tel:2227550341">Tel: 222 755 03 41</a>
          <a class="text-primary" href="https://goo.gl/maps/bbRyFQxvMPXWkNCw7" target="_blank"><i class="fa-sharp fa-solid fa-location-dot"></i> RETORNO AHUEHUETE #41 AMALUCAN, PUEBLA.</a>
        </div>
        <div class="flex space-x-4 justify-center ">


          <a href="https://www.facebook.com/cisophiegermain?mibextid=ZbWKwL"
             class="flex justify-center items-center p-2 w-12 h-12 bg-primary rounded-full text-white text-2xl"><i
            class="fa-brands fa-facebook-f"></i></a>
          <a href="https://instagram.com/ci.sophiegermain?igshid=YmMyMTA2M2Y="
             class="flex justify-center items-center p-2 w-12 h-12 bg-primary rounded-full text-white text-2xl"><i
            class="fa-brands fa-instagram"></i></a>
        </div>

      </div>

    </div>
  </section>


  <div *ngIf="!navOpen" (click)="open()"
       class="cursor-pointer floating-btn fixed w-12 h-12 rounded bg-red-logo z-40 top-0 right-0 m-2 flex justify-center items-center">
    <i class="fa-duotone fa-bars text-3xl text-white"></i>
  </div>
  <div *ngIf="navOpen" (click)="open()"
       class="cursor-pointer floating-btn fixed w-12 h-12 rounded bg-red-logo z-40 top-0 right-0 m-2 flex justify-center items-center">
    <i class="fa-solid fa-xmark text-3xl text-white"></i>
  </div>

</div>
