/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  FONT */
@import url("https://fonts.cdnfonts.com/css/masque");
@import url("https://fonts.cdnfonts.com/css/poppins");
@layer base {
  @font-face {
    font-family: "Basique";
    src: local("Basique Pro Regular"), local("Basique-Pro-Regular"),
    url("./assets/fonts/Basique_3.ttf") format("truetype");
  }

  @font-face {
    font-family: "Geometry";
    src: local("Geometry"), local("Geometry"),
    url("./assets/fonts/Geometry.ttf") format("truetype");
  }
}

body {
  font-family: "Basique";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* HOME */

/*  BOTONES */

a.btn {
  @apply block  rounded-lg outline-none transition duration-100 px-8 py-3 text-center text-sm md:text-base font-semibold transition duration-100 bg-primary hover:bg-blue-300 focus-visible:ring ring-blue-300 text-white;

  &.disabled {
    @apply bg-gray-200 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-gray-500 active:text-gray-700;
  }
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.animate-l {
  -moz-animation: bounce_right 2s infinite;
  -webkit-animation: bounce_right 2s infinite;
  animation: bounce_right 2s infinite;
}

.animate-r {
  -moz-animation: bounce_left 2s infinite;
  -webkit-animation: bounce_left 2s infinite;
  animation: bounce_left 2s infinite;
}

@keyframes bounce_right {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(-5px);
  }
}

@keyframes bounce_left {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(+20px);
  }
  60% {
    transform: translateX(+5px);
  }
}

.full-screen {
  min-height: 100vh;
  min-height: 100svh;
}

.swiper-button-prev {
  @apply absolute top-0 left-0 w-6 h-full z-10 bg-no-repeat bg-center cursor-pointer;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ec534e'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  @apply absolute top-0 right-0 w-6 h-full z-10 bg-no-repeat bg-center cursor-pointer;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ec534e'%2F%3E%3C%2Fsvg%3E") !important;
}

.oferta .swiper-button-next ,
.oferta .swiper-button-prev {
  @apply w-12;
}
